<mat-dialog-actions align="end">
  <span mat-button mat-dialog-close style="background: none;border:none"
    >X</span
  >
</mat-dialog-actions>
<div class="container-fluid justify-content-center">
  <div class="row" style="padding-bottom: 4%;">
    <div class="col-4">
      Member 1:
    </div>
    <div class="col-4">
      {{ currentUserAdmissionNumber }}
    </div>
    <div class="col-4">
      {{ currentUserName }}
    </div>
  </div>
  <ng-container *ngFor="let member of teamSizeArray; let index = index">
    <div class="row justify-content-center">
      <div class="col-4">Member {{ index + 2 }}:</div>

      <div class="col-4">
        <mat-form-field>
          <input
            [(ngModel)]="membersAdmissionNumber[index]"
            required
            type="text"
            placeholder="Admission Number"
            (focus)="resetStatus()"
            matInput
          />
        </mat-form-field>
      </div>

      <ng-container *ngIf="membersSize > 0" [@fadeInOut]>
        <br />
        <div class="col-4">
          {{ membersName[index] }}
        </div>
      </ng-container>
    </div>
  </ng-container>

  <div class="row justify-content-center" *ngIf="!hasRequested">
    <ng-container *ngIf="buttonStatus === 'Check'">
      <input
        type="submit"
        class="btn btn-success"
        (click)="handleRequest()"
        value="{{ buttonStatus }}"
      />
    </ng-container>
    <ng-container *ngIf="buttonStatus === 'Request'">
      <button class="btn btn-success" (click)="requestMembers()">
        {{ buttonStatus }}
      </button>
    </ng-container>
    <ng-container *ngIf="buttonStatus === 'Added'">
      <div class="alert alert-success text-center">
        Request has been sent, come back once request is accepted
      </div>
    </ng-container>
  </div>
  <div *ngIf="isThereEmptyField" style="padding-top:4%" [@fadeInOut]>
    <div class="alert alert-danger text-center">
      You forgot to fill in something !
    </div>
  </div>

  <div *ngIf="isThereDuplicate" style="padding-top:4%" [@fadeInOut]>
    <div class="alert alert-danger text-center">
      Sensing Invalid/Duplicate Fields !
    </div>
  </div>
  <div *ngIf="isThereIneligibleMember" style="padding-top:4%" [@fadeInOut]>
    <div class="alert alert-danger text-center">
      A member seems to be in another team !
    </div>
  </div>
  <div
    *ngIf="isThereNonExistentAdmissionNumber"
    style="padding-top:4%"
    [@fadeInOut]
  >
    <div class="alert alert-danger">Please Enter Valid Admission Number !</div>
  </div>
  <!-- <div *ngIf="isAlreadyInTeam" style="padding-top:4%" [@fadeInOut]>
    <div class="alert alert-danger">Oops, member is part of another team !</div>
  </div> -->
  <!-- <div
    *ngIf="hasRequested && !isThereNonExistentAdmissionNumber"
    style="padding-top:4%"
  >
    <div class="alert alert-success">Request Sent !</div>
  </div> -->
</div>
