.header {
  background: linear-gradient(
    90deg,
    var(--primary-color),
    rgb(187, 7, 187),
    rgb(4, 4, 170),
    var(--secondary-color)
  );
  background-size: 400% 400%;
  animation: smoothtransition 8s ease infinite;

  color: white;
  z-index: 1;
}
#headerContainer {
  padding: 2%;
}
#titleText {
  font-size: 30px;
  text-align: end;
}
#menuButton {
  background: none;
  border: none;
  color: white;
  outline: none;
  width:5%;
}
#sidenav {
  color: white;
  position: fixed;
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  background-size: 400% 400%;
  height: 100%;
  width: 15%;
  padding-top: 10%;
}
#sidenav:hover {
  color: white;
  position: fixed;
  background: linear-gradient(
    -45deg,
    var(--primary-color),
    rgb(187, 7, 187),
    rgb(4, 4, 170),
    var(--secondary-color)
  );
  background-size: 400% 400%;
  animation: smoothtransition 2s ease infinite;

  height: 100%;
  width: 15%;
  padding-top: 10%;
}
ul {
  list-style-type: none;
  font-size: 20px;
  overflow: hidden;
  padding-left: 0;
}
li {
  padding: 5%;
  padding-left: 25%;
}
a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

li:hover {
  background-color: rgb(107, 10, 187);
  font-weight: bolder;
}
@keyframes smoothtransition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
