<div [@sidenavOpenClose]="sideNavState" id="sidenav">
  <ul>
    <a href="home"><li>Home</li></a>
    <a><li (click)="openCartDialog()">Cart</li></a>
    <a><li (click)="openManageTeamDialog()">Manage Team</li></a>
    <a href="/"><li (click)="setLoggedIn()">Logout</li></a>
  </ul>
</div>
<div class="container-fluid" id="header">
  <div class="row" id="headerContainer">
    <div class="col">
      <button (click)="toggleSideNav()" id="menuButton">
        <i class="material-icons">menu</i>
      </button>
    </div>
    <div class="col" id="titleText">
      Gyanmitra 2020
    </div>
  </div>
</div>
