#header {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  color: white;
  z-index: 1;
}
#headerContainer {
  padding: 2%;
}
#titleText {
  font-size: 30px;
  text-align: end;
}
#menuButton {
  background: none;
  border: none;
  color: white;
  outline: none;
}
#sidenav {
  color: white;
  position: fixed;
  background-image: linear-gradient(
    to bottom,
    rgb(62, 16, 149),
    var(--secondary-color)
  );
  height: 100%;
  width: 15%;
  padding-top: 10%;
}
ul {
  list-style-type: none;
  font-size: 20px;
  overflow: hidden;
  padding-left: 0;
}
li {
  padding: 5%;
  padding-left: 25%;
}
a {
  color: white;
  text-decoration: none;
}

li:hover {
  background-color: rgb(107, 10, 187);
  font-weight: bolder;
}
