<mat-dialog-actions align="end">
  <span mat-button mat-dialog-close style="background: none;border:none"
    >X</span
  >
</mat-dialog-actions>
<div class="container">
  <div class="row justify-content-center">
    <h3>{{ user }}'s Cart</h3>
  </div>
  <hr />
  <mat-dialog-content>
    <h5 style="text-align: center;">Events</h5>
    <hr />
    <ng-container *ngIf="eventCartSize === 0">
      <div class="row justify-content-center">
        <div class="alert alert-warning">
          Don't miss out on the fun, register for something soon!
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="eventCartSize !== 0">
      <table class="table">
        <thead>
          <th>Title</th>
          <th>Status</th>
        </thead>
        <tbody>
          <ng-container *ngFor="let event of eventCart">
            <tr>
              <td>{{ event.name }}</td>
              <ng-container
                *ngIf="!event.hasCheckedOut && event.teamSize === 1"
              >
                <td>
                  <button
                    class="btn btn-success btn-sm"
                    (click)="confirmEvent(event)"
                    matTooltip="Cofirm your participation"
                  >
                    Confirm
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="!event.hasCheckedOut && event.teamSize > 1">
                <td>
                  <button
                    class="btn btn-primary btn-sm"
                    (click)="openManageTeamDialog(event)"
                    matTooltip="Create your team"
                    *ngIf="!event.isInTeam"
                  >
                    Create Team+
                  </button>
                  <button
                    class="btn btn-success btn-sm"
                    (click)="openViewTeamDialog(event)"
                    matTooltip="View your team"
                    *ngIf="event.isInTeam === 'Yes'"
                  >
                    View Team
                  </button>
                </td>
              </ng-container>

              <ng-container *ngIf="event.hasCheckedOut">
                <td>
                  <div class="row">
                    <div class="col" *ngIf="event.isInTeam === 'Yes'">
                      <button
                        class="btn btn-success btn-sm"
                        (click)="openViewTeamDialog(event)"
                        matTooltip="View your team"
                      >
                        View Team
                      </button>
                    </div>
                    <div class="col">
                      <div class="alert alert-success ">
                        Added !
                      </div>
                    </div>
                  </div>
                </td>
              </ng-container>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </ng-container>

    <hr />
    <h5 style="text-align: center;">Workshops</h5>
    <hr />
    <ng-container *ngIf="workshopCartSize === 0">
      <div class="row justify-content-center">
        <div class="alert alert-warning">
          Wanna learn something cool, check out what we have to offer!
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="workshopCartSize !== 0">
      <table class="table">
        <thead>
          <th>Title</th>
          <th>Status</th>
        </thead>
        <tbody>
          <ng-container *ngFor="let workshop of workshopCart">
            <tr>
              <td>{{ workshop.name }}</td>
              <ng-container *ngIf="!workshop.hasCheckedOut">
                <td>
                  <button
                    class="btn btn-success btn-sm"
                    (click)="confirmWorkshop(workshop)"
                    matTooltip="Cofirm your participation"
                  >
                    Confirm
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="workshop.hasCheckedOut">
                <td>
                  <div class="alert alert-success">
                    Added!
                  </div>
                </td>
              </ng-container>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </ng-container>
  </mat-dialog-content>
</div>
