<app-header
  (navbarStateEvent)="receiveNavbarState($event)"
  [eventData]="cartEventData"
  [workshopData]="cartWorkshopData"
></app-header>
<div [@shiftContents]="navbarState" class="container col-9 cardContainer">
  <div class="row justify-content-end">
    <div class="col-6">Welcome {{ studentData?.studentName }}</div>
  </div>
  <div class="row justify-content-center navContainer">
    <div class="col-6 text-right">
      <button
        [@eventclick]="activeButton"
        class="eventsButton"
        name="event"
        (click)="currentButton($event)"
      >
        Events
      </button>
    </div>
    <div class="col-6 align-items-end">
      <button
        [@workshopclick]="activeButton"
        class="workshopButton"
        name="workshop"
        (click)="currentButton($event)"
      >
        Workshops
      </button>
    </div>
  </div>

  <div class="row justify-content-between searchBarRow">
    <div class="col-2">
      <div class="row justify-content-center">
        <button mat-raised-button color="accent" (click)="openCartDialog()">
          Cart
        </button>
      </div>
    </div>
    <div class="col-5">
      <div class="row justify-content-end">
        <div class="col-10">
          <mat-form-field>
            <input matInput placeholder="Search" [(ngModel)]="searchText" />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-5">
      <mat-form-field>
        <mat-label>Department</mat-label>
        <mat-select
          [(ngModel)]="selectedDepartment"
          (selectionChange)="filterData()"
        >
          <mat-option value="All">All</mat-option>
          <mat-option value="CSE">CSE</mat-option>
          <mat-option value="IT">IT</mat-option>
          <mat-option value="Mechanical">Mechanical</mat-option>
          <mat-option value="Biotech">Biotech</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row justify-content-center loadingDiv" *ngIf="loading">
    <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode">
    </mat-progress-spinner>
  </div>
  <div class="row justify-content-around innerCardContainer">
    <ng-container *ngIf="activeButton === 'event' && hasItemPresenceCalculated">
      <div class="col-5 text-center" *ngFor="let item of filteredEventData| filterByTitle:searchText">
        <app-displaycard
          [event_workshopdata]="item"
          (cartCount)="changeCartCount($event)"
        ></app-displaycard>
      </div>
    </ng-container>
    <ng-container *ngIf="activeButton === 'workshop'">
      <div class="col-5 text-center" *ngFor="let item of filteredWorkshopData | filterByTitle:searchText" >
        
        <app-displaycard 
          [event_workshopdata]="item"
          (cartCount)="changeCartCount($event)"
        ></app-displaycard>
      </div>
    </ng-container>
  </div>
</div>
