<app-header (navbarStateEvent)="receiveNavbarState($event)"></app-header>
<div [@shiftContents]="navbarState" class="container col-9 cardContainer">
  <div class="row justify-content-end">
    <div class="col-6">Welcome {{ studentData?.name }}</div>
  </div>
  <div class="row justify-content-center navContainer">
    <div class="col-6 text-right">
      <button
        [@eventclick]="activeButton"
        class="eventsButton"
        name="event"
        (click)="currentButton($event)"
      >
        Events
      </button>
    </div>
    <div class="col-6 align-items-end">
      <button
        [@workshopclick]="activeButton"
        class="workshopButton"
        name="workshop"
        (click)="currentButton($event)"
      >
        Workshops
      </button>
    </div>
  </div>
  <div class="row justify-content-between searchBarRow">
    <div class="col-1 cartItemCount" (click)="openCartDialog()">
      Cart:{{ cartCount }}
    </div>
    <div class="col-5">
      <div class="row justify-content-end searchBarContainer">
        <div class="col-10">
          <input type="text" placeholder="Search" />
        </div>
        <div class="col-1"><i class="material-icons">search</i></div>
      </div>
    </div>
    <div class="col-5">
      <select [(ngModel)]="selectedDepartment">
        <option>CSE</option>
        <option>IT</option>
        <option>Mechanical</option>
        <option>Biotech</option>
      </select>
    </div>
  </div>
  <div class="row justify-content-around innerCardContainer">
    <div class="col-5 text-center" *ngFor="let item of data">
      <app-displaycard
        [event_workshopdata]="item"
        (cartCount)="changeCartCount($event)"
      ></app-displaycard>
    </div>
  </div>
</div>
