<particles
  [params]="myParams"
  [style]="myStyle"
  [width]="width"
  [height]="height"
></particles>
<div class="fullContainer">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col text-center" id="login">
        <a href="login"
          ><button id="loginButton" style="z-index: 2;">Login</button></a
        >
      </div>
    </div>
    <div>
      <div class="col-4 offset-8 counter">
          <span class="value" style = "color: white;">{{days}}
          <span class = "title">days </span></span>
          <span class="value" style = "color: white;" >{{hours}}
          <span class = "title">hours </span></span>
          <span class="value" style = "color: white;">{{minutes}}
          <span class = "title">minutes </span></span>
          <span class="value" style = "color: white;">{{seconds}}
          <span class = "title">seconds remaining</span></span>
      </div>
    </div>
  </div>
</div>
