.fullContainer {
  height: 100%;
  background-image: url("../../../assets/glitch_refined.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 0;
}

/* #buttonsContainer {
  margin-top: 5%;
} */
#login {
  position: fixed;
  bottom: 15%;
  
}
#loginButton {
  background: none;
  border: none;
  outline: none;
  background-color: rgb(46, 46, 46);
  color: white;
  width: 180px;
  height: 170px;
  border-radius: 50%;
  font-size: 1.5em;
  animation: floatLogin 1.8s ease-in-out infinite;
  transition-duration: 0.5s;
}
#loginButton:hover {
  box-shadow: 2px 2px 2px gray;
  background-color: white;
  border: solid;
  border-width: 4px;
  border-color: var(--primary-color);
  color: black;
}
#loginButton:active {
  background-color: rgba(22, 12, 168, 0.424);
}

@keyframes floatLogin {
  0% {
    box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 15px 15px 0px rgba(255, 255, 255, 0.2);
    transform: translatey(-8px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.6);
    transform: translatey(0px);
  }
}

@keyframes floatSignup {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(-8px);
  }
  50% {
    box-shadow: 0 15px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(0px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(-8px);
  }
}
