<div class="fullContainer">
  <particles
    [params]="myParams"
    [style]="myStyle"
    [width]="width"
    [height]="height"
  ></particles>
  <div class="container-fluid">
    <div class="row justify-content-center" id="buttonsContainer">
      <div class="col text-center" id="login">
        <a href="login"
          ><button id="loginButton" style="z-index: 2;">Login</button></a
        >
      </div>
    </div>
    <!-- <div class="row justify-content-center">
      Countdown&nbsp;
      <timer
        [days]="remainingDays"
        [hours]="remainingHours"
        [minutes]="remainingMinutes"
        [seconds]="remainingSeconds"
      ></timer>
    </div> -->
  </div>
</div>
