.contentRow {
  margin: 1%;
  border-style: none;
  border-width: 10px;
  box-shadow: 3px 3px 3px grey;
  border-radius: 25px;
  padding: 2%;
  background-color: aliceblue;
}
select {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-width: 5px;
  border-color: seagreen;
  width: min-content;
  list-style-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
}
select:hover {
  border-color: red;
}
/* button {
  padding: 2%;
  background: none;
  border: none;
  outline: none;
  background-color: blueviolet;
  color: white;
  border-radius: 10px;
  font-weight: bolder;
  box-shadow: 0px 0px 5px blue;
}
button:hover {
  background-color: blue;
  box-shadow: 0px 0px 12px red;
}
button:active {
  box-shadow: 0px 0px 0px gray;
} */
input {
  width: 60%;
}
