<app-entryheader></app-entryheader>
<div class="row">
  <div class="col">
    Event/Workshop
    <select>
      <option>Event</option>
      <option>Workshop</option>
    </select>
  </div>
  <div class="col">
    Department
    <select>
      <option>CSE</option>
      <option>Mechanical</option>
      <option>Civil</option>
    </select>
  </div>
  <div class="col">
    Content 3:
    <select>
      <option>Choose option 3</option>
    </select>
  </div>
  <div class="col">
    <button>Fetch Results</button>
  </div>
  <div class="col-1">
    searchBar
  </div>
</div>
