<app-entryheader></app-entryheader>
<div class="row contentRow">
  <div class="col-3">
    <mat-form-field>
      <mat-label>Event/Workshop</mat-label>
      <mat-select [(ngModel)]="Name">
        <mat-option *ngFor="let event of eventData" value="{{ event.id }}">{{
          event.name
        }}</mat-option>
        <mat-option
          *ngFor="let workshop of workshopData"
          value="{{ workshop.id }}"
          >{{ workshop.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-2">
    <mat-form-field>
      <mat-label>Department</mat-label>
      <mat-select
        [(ngModel)]="Department"
        class="mdb-select md-form colorful-select dropdown-primary"
      >
        <mat-option selected value="ALL">ALL</mat-option>
        <mat-option value="BE/CSE">BE/CSE</mat-option>
        <mat-option value="BE/CIVIL">BE/CIVIL</mat-option>
        <mat-option value="BE/EEE">BE/EEE</mat-option>
        <mat-option value="BE/ECE">BE/ECE</mat-option>
        <mat-option value="BE/MECH">BE/MECH</mat-option>
        <mat-option value="BTECH/IT">BTECH/IT</mat-option>
        <mat-option value="BTECH/BT">BTECH/BT</mat-option>
        <mat-option value="ME/SE">ME/SE</mat-option>
        <mat-option value="ME/PED">ME/PED</mat-option>
        <mat-option value="ME/COMM">ME/COMM</mat-option>
        <mat-option value="ME/VLSI">ME/VLSI</mat-option>
        <mat-option value="ME/CSE">ME/CSE</mat-option>
        <mat-option value="ME/ISE">ME/ISE</mat-option>
        <mat-option value="MTECH/BT">MTECH/BT</mat-option>
        <mat-option value="MCA">MCA</mat-option>
        <mat-option value="MBA">MBA</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-3 justify-content-right">
    <mat-form-field>
      <input matInput placeholder="Search" [(ngModel)]="studentToSearch" />
    </mat-form-field>
  </div>
  <div class="col-2 text-right">
    <button class="btn btn-primary" (click)="getStudentDetailsByFilter()">
      Fetch Results
    </button>
  </div>
  <div class="col-2 text-right">
    <button class="btn btn-primary" (click)="generateExcelSheet()">
      Generate Spreadsheet
    </button>
  </div>
</div>
<div class="contentRow">
  Total No. of event registrations: {{eventCount}} <br/> Total No. of workshop registrations: {{workshopCount}}
</div>
<div class="contentRow">
  <ng-container *ngIf="isDataPresent == true">
    <table class="table table-striped">
      <th>S.No.</th>
      <th>Admission No.</th>
      <th *ngIf = "studentData[0].team!=null">Team Id</th>
      <th>Name</th>
      <th>Department</th>
      <th>Year</th>
      <th>Section</th>
      <th>Event/Workshop</th>
      <th *ngIf="studentData[0].workshopId != null">Payment Status</th>
      <th>Attendance Status</th>
      <tr *ngFor="let student of studentData | filterByName: studentToSearch ; index as i ">
        <td>{{i+1}}.</td>
        <td>{{ student.admissionNumber }}</td>
        <ng-container *ngFor = "let team of student.team">
        <td *ngIf = "team.eventId == Name">{{team.teamId}}</td>
        </ng-container>
        <td>{{ student.studentName }}</td>
        <td>{{ student.program }}</td>
        <td>{{student.year}}</td>
        <td>'{{student.section}}'</td>
        <td *ngIf="student.workshopId != null">{{ student.name }}</td>
        <td *ngIf="student.eventId != null">{{ student.name }}</td>
        <td *ngIf="student.workshopId != null">
          <app-payment-button [studentData]="student"></app-payment-button>
        </td>
        <td *ngIf="student.workshopId != null">
          <app-attendance-button
            [studentData]="student"
          ></app-attendance-button>
        </td>
        <td *ngIf="student.eventId != null">
          <app-attendance-button
            [studentData]="student"
          ></app-attendance-button>
        </td>
      </tr>
    </table>
  </ng-container>
  <div class="justify-content-center" *ngIf="isDataPresent == false">
    No records found
  </div>
</div>
