#header {
  padding: 3%;
}
a {
  color: white;
}
a:hover {
  color: var(--secondary-color);
}
.outercontainer {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
}
.outercontainer:hover {
  background-image: linear-gradient(
    to left,
    var(--primary-color),
    var(--secondary-color)
  );
}
