<div
  class="container justify-content-center displayCardContainer"
  (click)="openDescriptionDialog()"
>
  <div class="row justify-content-center" style="font-size: 1.5em;">
    {{ data.name }}
  </div>
  <div class="row justify-content-around">
    <div class="col-6">Date and Time:<span>19/02/19</span></div>
    <div class="col-6">
      Venue:Valluvar Arangam
    </div>
  </div>
  <div
    class="row justify-content-between"
    *ngIf="data.checkout == false; else alreadyAddedTemplate"
  >
    <div class="col-3">
      <button class="btn btn-info" (click)="openDescriptionDialog()">
        Details
      </button>
    </div>
    <div class="col-9 text-right">
      <button
        [@buttonStyle]="cartStatus"
        (click)="cartStatusChange()"
        class="btn btn-primary"
      >
        {{ data.cartStatus }}
      </button>
    </div>
  </div>
  <ng-template #alreadyAddedTemplate>
    <div class="row justify-content-center">
      <div class="col-5 alertMessage">Added !</div>
    </div>
  </ng-template>
</div>
