<div
  class="container justify-content-center displayCardContainer"
  (click)="openDescriptionDialog($event)"
>
  <div class="row justify-content-center" style="font-size: 1.5em;">
    {{ event_workshopdata.name }}
  </div>
  <div class="row justify-content-around">
    <div class="col-6">Date and Time:<span>19/02/19</span></div>
    <div class="col-6">Venue:{{ event_workshopdata.venue }}</div>
  </div>
  <ng-container *ngIf="event_workshopdata.teamSize">
    <div class="row justify-content-center">
      <ng-container *ngIf="event_workshopdata.teamSize">
        Team Size:{{ event_workshopdata.teamSize }}
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="!hasCheckedOut">
    <div class="row justify-content-between">
      <div class="col-3">
        <button class="btn btn-info" (click)="openDescriptionDialog($event)">
          Details
        </button>
      </div>
      <div class="col-9 text-right">
        <button
          [@buttonStyle]="cartStatus"
          (click)="cartStatusChange($event)"
          class="btn btn-primary"
        >
          {{ cartStatus }}
        </button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="hasCheckedOut">
    <div class="row justify-content-center">
      <div class="col-5 alertMessage">Added !</div>
    </div>
  </ng-container>
</div>
