<app-entryheader></app-entryheader>
<div>
  <div id="formContainer">
    <form>
      <div id="innerFormContainer">
        <div id="fields">
          <input type="text" placeholder="Admission Number" />
        </div>
        <div id="fields">
          <input type="text" placeholder="Name" />
        </div>
        <div id="fields">
          <input type="password" placeholder="Password" />
        </div>
        <div id="fields">
          <input type="password" placeholder="Confirm Password" />
        </div>
        <div id="fields" class="text-center">
          <input type="submit" value="Register" />
        </div>
      </div>
    </form>
  </div>
</div>
