<app-entryheader></app-entryheader>
<div id="formContainer" [@swoopIn]>
  <form #userForm="ngForm">
    <div class="container innerFormContainer" id="formContents">
      <div class="row-4 text-center formElement">
        <input
          name="admissionNumber"
          [(ngModel)]="admissionNumber"
          type="text"
          placeholder="Admission Number"
          (focus)="alterEmptyFieldState()"
        />
      </div>

      <div class="row-4 text-center formElement">
        <input
          name="password"
          [(ngModel)]="password"
          type="password"
          placeholder="Password"
          (focus)="alterEmptyFieldState()"
        />
      </div>

      <div class="row-4 text-center formElement">
        <input type="submit" value="Login" (click)="routeToHomePage()" />
      </div>
      <div class="row justify-content-center alertRow">
        <div
          *ngIf="emptyField == true"
          class="alert alert-danger align-self-center col-6 text-center"
          [@fadeInOut]
        >
          Sensing Empty Field(s)!
        </div>
        <div
          *ngIf="incorrectInputData"
          class="alert alert-danger col-6 text-center"
          [@fadeInOut]
        >
          Username/Password Mismatch!
        </div>
      </div>
    </div>
  </form>
</div>
