<app-entryheader></app-entryheader>
<div id="formContainer" [@swoopIn]>
  <form #userForm="ngForm">
    <div class="container innerFormContainer" id="formContents">
      <div class="row-4 text-center formElement">
        <input
          name="admissionNumber"
          [(ngModel)]="admissionNumber"
          type="text"
          placeholder="Admission Number"
          (focus)="alterEmptyFieldState()"
        />
      </div>

      <div class="row-4 text-center formElement">
        <input
          name="password"
          [(ngModel)]="password"
          type="password"
          placeholder="Password"
          (focus)="alterEmptyFieldState()"
        />
      </div>

      <div class="row-4 text-center formElement">
        <input type="submit" value="Login" (click)="routeToHomePage()" />
      </div>
    </div>
    <div *ngIf="emptyField == true" class="alert alert-danger col-4 offset-4">
      Empty Field!
    </div>
  </form>
</div>
