.fullContainer {
  top: 0;
}
.formElement {
  padding: 4%;
}
.innerFormContainer {
  padding: 4%;
}
.alert {
  width: 80%;
}
.alertRow {
  margin-top: 5%;
  margin-bottom: 1%;
}
.card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 3%;
  width: 30%;
}
a {
  color: black;
}
a:hover {
  color: grey;
}
@keyframes border-change {
  from {
    border-bottom-color: black;
    border-width: 2.5px;
  }
  to {
    border-bottom-color: green;
    border-width: 5px;
  }
}
::ng-deep .red-snackbar {
  background: rgb(165, 11, 11);
  color: white;
}
::ng-deep .red-snackbar button {
  color: pink;
}
/* input {
  color: white;
}
::ng-deep .mat-form-field-label {
  color: white !important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: wheat !important;
} */
